.disclaimer {
  background-color: #1b1423;
  color: white;
  text-align: left;
  padding: 3px 25px;
  border-radius: 5px;
}

.github_btn {
  background-color: #7882cb;
  color: #fff;
  text-align: center;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right , #64e4ff,#8f92fe);
}

.page_views_wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page_views_spacer {
  flex: 1;
}

.letterbox {
  margin-top: 30px;
  padding: 0px 30px;
}

.swagbox {
  padding: 5px 20px;
  text-align: left;
}

.filteredContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 30px;
}
.searchContainer {
  flex: 1;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 4px 8px;
  border: 2px solid #677762;
  border-radius: 4px;
}
.inputSearch {
  flex: 1;
  padding: 0 8px;
  color: #677762;
  font-weight: bold;
  border: none;
  outline: none;
}
.inputSearch::placeholder {
  color: #91a88c;
  font-weight: normal;
}

.pullRequestsNumber {
  font-size: 12px;
  color: #78877e;
  font-weight: bold;
}

.tag {
  margin-top: 0px;
  margin-right: 15px;
  background-color: #dbe8d7;
  padding: 4px 10px;
  border-radius: 1000px;
  color: white;
  cursor: pointer;
}
.navbar{
  background-color: #170F1E;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  color: white;
  font-family:'Roboto',Helvetica,Arial,sans-serif;
  letter-spacing:0.15px;
  font-size:20px;
  font-weight: 500;
  transition-property:width;
  transition-duration:.4s;
  z-index: 13;
}
.logo{
  margin:12px 12px 0px 49px;
}
.menubt{
  margin:15px 24px 0px 0px;
  height: 22px;
  width: 25px;

}
.headTitle{
  position: relative;
  top:-12px;
}
@media only screen and (max-width: 1000px) {
  .letterbox {
    padding: 0px 5px;
  }
  .swagbox .tag {
    display: flex;
    justify-content: center;
  }
}

body {
  font-family: "Poppins", cursive;
}
