.disclaimer {
  color: white;
  text-align: left;
  padding: 3px 25px;
  border-radius: 5px;
}

.MuiToolbar-root.css-1t29gy6-MuiToolbar-root {
  margin: 0;
  padding: 0;
}


.github_btn {
  background-color: #7882cb;
  color: #fff;
  text-align: center;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right , #64e4ff,#8f92fe);
}

.page_views_wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page_views_spacer {
  flex: 1;
}

.letterbox {
  margin-top: 500px;
  padding: 0px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: auto;
  gap: 10px;
}

.letterboxa {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: left;
}

.swagbox {
  display: inline-block;
  padding: 5px 20px;
  text-align: left;
  color: aliceblue;
  background-color: #1b1423;
  border-radius: 20px;
  width:  100%;
  height: 100%;
}

.filteredContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 30px;
}
.searchContainer {
  flex: 1;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 20px 20px;
  border: 2px solid #7D6995;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: black;
}
.inputSearch {
  flex: 1;
  color: #4b3f5a;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: black;
}
.inputSearch::placeholder {
  color: #7D6995;
  font-weight: normal;
}

.pullRequestsNumber {
  font-size: 12px;
  color: #a99cba;
  font-weight: bold;
}

.tag {
  margin-top: 0px;
  margin-right: 15px;
  background-color: #dbe8d7;
  padding: 4px 10px;
  border-radius: 1000px;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .letterbox {
    padding: 0px 5px;
  }
  .swagbox .tag {
    display: flex;
    justify-content: center;
  }
}

body {
  font-family: "Poppins", cursive;
}
